<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.contactsScreen.ContactsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.systemAccessScreen.SystemAccessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.userDetailScreen.UserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboardScreen.AdminDashboardActivity"
            android:exported="false" />
    </application>

</manifest>